<!DOCTYPE html>
<html lang="en" class="html_body">
<head>
    <%- include("partials/head") %>
    <title>Error 404</title>
</head>
<body class="html_body">
    <!--HEADER-->
    <%- include("partials/header") %>
    <!--HEADER-->

    <!--BODY-->
    <div class="container">
        <div class="row justify-content-center d-flex">
            <div class="col-md-10">
                <h1 class="text-center errors">Error <span style="color: #c7ead7; text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);">404</span></h1>
                <p class="error_text"><span style="color: #309645;">Ups!</span> Stránku sa nepodarilo nájsť ツ</p>
            </div>
        </div>
    </div>
    <!--BODY-->

    <!--FOOTER-->
    <!--netreba-->
    <!--FOOTER-->
</body>
</html>