<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("shared/partials/head") %>
    <title>O webe</title>
</head>
<body>
    <!--HEADER-->
    <%- include("shared/partials/header") %>
    <!--HEADER-->

    <!--BODY-->
    <div class="container">
        <div class="row justify-content-center d-flex">
            <div class="col-md-12">
                <h1 class="nadpis_web">O čom je vlastne tento web?</h1>
                <p class="text_web">Lorem ipsum dolor sit amet consectetur adipisicing elit. In dolores, libero doloremque impedit tempora assumenda odio autem ipsam voluptatem officiis iusto excepturi debitis voluptas expedita! Ad eveniet veniam sunt maiores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique magnam modi pariatur voluptatibus praesentium. Quos veniam doloribus odio. Obcaecati, harum possimus magnam quidem dolorum aperiam quam in pariatur et labore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam rem voluptate id in dolores, corrupti, officia est nam magni quia at aut! Ea unde quo dignissimos tempore veritatis necessitatibus repellendus!</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" style="padding: 0px;">
                <img src="/obrazky/lebka.jpg" alt="" class="img-fluid" style="object-fit: cover;">
                <!--Autor fotky: Tima Miroshnichenko: https://www.pexels.com/sk-sk/photo/veda-lebka-anatomia-biologia-5427825/-->
            </div>
            <div class="col-md-6" style="padding: 0px;">
                <img src="/obrazky/rastlina.jpg" alt="" class="img-fluid" style="object-fit: cover;">
                <!--Autor fotky: Chokniti Khongchum: https://www.pexels.com/sk-sk/photo/2280568/-->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center d-flex">
            <div class="col-md-12">
                <h1 class="nadpis_web">Niečo málo o mne</h1>
                <p class="text_web">Lorem ipsum dolor sit amet consectetur adipisicing elit. In dolores, libero doloremque impedit tempora assumenda odio autem ipsam voluptatem officiis iusto excepturi debitis voluptas expedita! Ad eveniet veniam sunt maiores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique magnam modi pariatur voluptatibus praesentium. Quos veniam doloribus odio. Obcaecati, harum possimus magnam quidem dolorum aperiam quam in pariatur et labore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam rem voluptate id in dolores, corrupti, officia est nam magni quia at aut! Ea unde quo dignissimos tempore veritatis necessitatibus repellendus!</p>
            </div>
        </div>
    </div>
    <!--BODY-->

    <!--FOOTER-->
    <%- include("shared/partials/footer") %>
    <!--FOOTER-->
</body>
</html>