/*BODY*/
.html_body_ziak {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.header_tablet_ziak {
    display: none !important;
}
/*BODY*/
/*----------------------------------------------------------------------------------------------------------------*/

/*SIDEBAR*/
.bg_sidebar {
    background-color: #081629;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
}

.text_color {
    color: white;
}

.text_color:hover {
    color: #c7ead7;
}

/*SIDEBAR*/
/*----------------------------------------------------------------------------------------------------------------*/

/*INDEX*/
.ulohy_odkaz {
    font-family: 'Amatic SC', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #102A4B;
    text-decoration: none;
    text-align: center;
}

.ulohy_odkaz:hover {
    color: #102A4B;
}

.div_odkaz {
    line-height: 8;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease;
}

.div_odkaz:hover {
    transform: scale(1.05);
}

.div_dateTime {
    background-color: rgba(238, 238, 238, 0.671);
    border-radius: 30px;
    padding: 10px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.08);
}

.div_date {
    background-image: linear-gradient(to bottom right, #081629, #b3dde9b2, #ffdfe7);
    border-radius: 30px;
    margin: 8px;
    margin-left: 0px;
    align-items: center; 
    display: flex;         
    justify-content: center;
    height: 300px;
}

.current_date {
    font-size: 2.5vw;
    font-family: 'Antonio', sans-serif;
    font-weight: 500;
    color: #102A4B;
    align-items: center;
}

.current_year {
    font-size: 2vw;
    font-family: 'Antonio', sans-serif;
    font-weight: 200;
    color: #102A4B;
    align-items: center;
}

.current_time {
    font-size: 2vw;
    font-family: 'Antonio', sans-serif;
    font-weight: 200;
    color: white;
    align-items: center;
}

.div_nameday_day {
    margin: 10px;
    align-items: center; 
    display: flex;         
    justify-content: center;
}

.nameday {
    font-size: 2.5vw;
    font-family: 'Antonio', sans-serif;
    font-weight: 500;
    color: #102A4B;
    align-items: center;
}

.text_nameday {
    font-size: 1vw;
    font-family: 'Antonio', sans-serif;
    font-weight: 200;
    color: #102A4B;
    align-items: center;
}

.oznamenia {
    background-color: #b3dde9b2;
    min-height: 230px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.08);
}

.oznamenia_text {
    font-family: 'News Cycle', sans-serif;
    font-size: 15px;
    color: #102A4B;
}

.oznamenia_nadpis {
    font-family: "Amatic SC", sans-serif;
    font-weight: bold;
    margin-top: 10px;
}

/*INDEX*/
/*----------------------------------------------------------------------------------------------------------------*/

/*PROFIL*/
.div_shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.08);
    margin-top: 100px;
    height: 600px;
    max-height: 600px;
}

.container_odsadenie {
    margin-top: 100px;
}

.img_profil {
    margin-bottom: 30px;
    width: 200px;
    height: 200px;
    align-items: center;
    object-fit: cover;
}

.pen_img {
    border: none;
    background-color: transparent;
}

.profil_udaje {
    font-family: 'Amatic SC', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #309645;
    margin-top: 8px;
    margin-bottom: 8px;
}

.span_profil {
    font-family: 'News Cycle', 'sans-serif';
    color: #102A4B;
    font-size: 20px;
    margin: 0 90px; /* Medzera medzi textom a čiarou */
    text-align: left;
    margin-left: 140px;
}

.line {
    border-top: 1px solid #000; /* Tenká čierna čiara */
    width: 100%;
    margin-left: 130px;
}

.border_ {
    margin-top: 20px;
    margin-left: 130px;
}

.button_heslo {
    border: none;
    background-color: #ffcd0b;
    border-radius: 5px;
    color: #102A4B;
    padding: 5px 10px 5px 10px;
    font-family: 'News Cycle', sans-serif;
    margin-left: 130px;
}

.nadpis_profil {
    color: #309645;
    font-family: 'Amatic SC', sans-serif;
    font-weight: bold;
    font-size: 130px;
    top: -90px; 
    left: 10px; 
    z-index: 10;
    margin-left: 130px;
}

.meno_priezvisko {
    font-family: 'News Cycle', sans-serif;
    font-weight: 200;
    color: #309645;
}
/*PROFIL*/
/*----------------------------------------------------------------------------------------------------------------*/

/*KONTAKT*/
.button_odoslat {
    width: 100%;
    border-radius: 5px;
    line-height: 1.5;
    border: none;
    font-family: "Amatic SC", sans-serif;
    color: #102A4B;
    font-size: 25px;
    margin-bottom: 50px;
    font-weight: bold;
    background-color: #ffcd0b;
    margin-top: 20px;
}
/*KONTAKT*/
/*----------------------------------------------------------------------------------------------------------------*/

/*DOMACE ULOHY*/
.div_domace_ulohy {
    line-height: 5;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.08);
}

.nadpis_domace_ulohy {
    font-family: "Amatic SC", sans-serif;
    color: #102A4B;
    margin-bottom: 50px; 
    margin-top: 30px;
    font-weight: bold;
    font-size: 60px;
}

.p_text {
    font-family: 'News Cycle', sans-serif;
    font-size: 18px;
}

/*DOMACE ULOHY*/
/*----------------------------------------------------------------------------------------------------------------*/

/*TYZDENNE VYZVY*/
.nadpis_tyzdenne_vyzvy {
    font-family: "Amatic SC", sans-serif;
    color: #102A4B;
    margin-bottom: 50px; 
    margin-top: 30px;
    font-weight: bold;
    font-size: 60px;
}

.nadpis_col {
    font-family: 'Antonio', sans-serif;
    color: #102A4B;
    font-weight: 500;
    font-size: 18px;
}

.text_td {
    font-family: 'News Cycle', sans-serif;
}

.odkaz_otvoriť {
    color: #309645;
}

.odkaz_otvoriť:hover {
    color: #309645;
}

/*TYZDENNE VYZVY*/
/*----------------------------------------------------------------------------------------------------------------*/

/*EXKURZIE*/
.nadpis_exkurzie {
    font-family: "Amatic SC", sans-serif;
    color: #102A4B;
    margin-top: 30px;
    font-weight: bold;
    font-size: 60px;
}

.vonkajsi_div {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.08); 
    border-radius: 20px;
    margin: 20px 20px 0px 20px;
}

.text_pod_nadpisom {
    font-family: 'News Cycle', sans-serif;
    color: #081629;
    margin: 0px;
    font-size: 18px;
    text-align: justify;
}

.podnadpis_exkurzie {
    text-align: center;
    font-family: 'Antonio', sans-serif;
    color: #102A4B;
    margin-top: 30px;
}

.text_exkurzie {
    color: black;
    font-family: 'News Cycle', sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.img_exkurzie {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.vnorene_div {
    width: 100%;
    height: auto;
}

.button_exkurzie {
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    color: #102A4B;
    border: solid 2px #102A4B;
    border-radius: 20px;
    padding: 5px 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.datum {
    font-family: 'Antonio', sans-serif;
    font-weight: 600;
    color: #102A4B;
    margin-right: 90px;
    font-size: 20px;
}

.sipky {
    font-family: 'Antonio', sans-serif;
    color: #309645;
    margin-top: 10px;
    background-color: white;
    border: none;
}

.img_pozadie {
    width: 100%; /* Nastav podľa potreby */
    height: auto; /* Zachovaj pomer strán */
    mask-image: linear-gradient(transparent, black 20%, black 70%, transparent),
                linear-gradient(90deg, transparent, black 20%, black 80%, transparent);
    -webkit-mask-image: linear-gradient(transparent, black 20%, black 80%, transparent),
                        linear-gradient(90deg, transparent, black 20%, black 80%, transparent);
    mask-composite: intersect;
    -webkit-mask-composite: destination-in;
}

.text_detail {
    color: #102A4B;
    font-family: 'News Cycle', sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
}

.nadpis_detail {
    font-family: "Amatic SC", sans-serif;
    color: #309645;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 40px;
}

.img_detail {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.button_prihlasit_exkurzia {
    width: 100%;
    border-radius: 5px;
    line-height: 1.5;
    border: none;
    font-weight: bold;
    font-family: "Amatic SC", sans-serif;
    color: #102A4B;
    font-size: 25px;
    margin-top: 20px;
    background-color: #ffcd0b;
}

.button_spat {
    width: 100%;
    border-radius: 5px;
    line-height: 1.5;
    border: none;
    font-weight: bold;
    font-family: "Amatic SC", sans-serif;
    color: #102A4B;
    font-size: 25px;
    margin-top: 20px;
    background-color: #dddddd;
}

/*EXKURZIE*/
/*----------------------------------------------------------------------------------------------------------------*/

/*UCEBNE MATERIALY*/
.div_obrazok {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text_obrazok {
    color: #102A4B;
    font-family: 'Amatic SC', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.col_nazvy {
    font-family: 'Antonio', sans-serif;
    color: #102A4B;
    font-weight: 500;
    font-size: 18px;
}

.td_nazvy {
    font-family: 'News Cycle', sans-serif;
}

.download {
    color: #309645;
}

.download:hover {
    color: #309645;
}
/*UCEBNE MATERIALY*/
/*----------------------------------------------------------------------------------------------------------------*/

/*KVIZY*/
iframe {
    margin-top: 20px;
    width: 100% !important;
    height: 70vh !important;
    border: none;
}

/*KVIZY*/
/*----------------------------------------------------------------------------------------------------------------*/


/*MEDIA - MOBILY, TABLETY, PC*/

@media (max-width: 767px) {

    /*vsade - moze/nemusi byt*/
    .html_body_ziak {
        overflow-y: auto;
    } 

    /*sidebar*/
    .bg_sidebar {
        display: none !important;
    }

    /*profil*/
    .img_profil {
        margin-bottom: 0px;
    }

    .container_odsadenie {
        margin-top: 100px;
    }

    .nadpis_profil {
        margin-left: 30px;
        font-size: 80px;   
        top: -50px; 
    }

    .span_profil {
        margin-left: 10px;
    }

    .line {
        margin-left: 0px;
    }

    .border_ {
        margin-left: 0px;
    }

    .button_heslo {
        margin-left: 0px;
    }

    .meno_priezvisko {
        margin-bottom: 100px;
    }
    
    
    
    /*index*/
    .div_nameday_day {
        height: 150px;
    }

    .current_time {
        font-size: 6vw;
    }

    .nameday {
        font-size: 10vw;
    }

    .text_nameday {
        font-size: 5vw;
    }

    .current_date {
        font-size: 10vw;
    }
    
    .current_year {
        font-size: 6vw;
    }

    /*tyzdenne vyzvy*/
    .nadpis_tyzdenne_vyzvy {
        text-align: center;
    }

    /*exkurzie*/
    .datum {
        margin-right: 60px;
    }
    
}

@media (min-width: 768px) and (max-width: 1024px) { 

    /*vsade - moze/nemusi byt*/
    .html_body_ziak {
        overflow-y: auto;
    } 

    .header_desktop {
        display: none !important;
    }

    .header_mobil_tablet {
        display: block !important;
    }
    
    /*sidebar*/
    .bg_sidebar {
        display: none !important;
    }

     /*index*/
     .ulohy_odkaz {
        font-size: 40px;
    }

    .current_date {
        font-size: 5vw;
    }
    
    .current_year {
        font-size: 4vw;
    }
    
    .current_time {
        font-size: 4vw;
    }
    
    .nameday {
        font-size: 5vw;
    }
    
    .text_nameday {
        font-size: 2.5vw;
    }
    
    .oznamenia_text {
        font-size: 25px;
    }

    .oznamenia_nadpis {
        font-size: 45px;
    }

    /*profil ziaka*/

    .nadpis_profil {
        margin-left: 30px;
        font-size: 70px;   
        top: -50px; 
    }

    .span_profil {
        margin-left: 10px;
    }

    .line {
        margin-left: 0px;
    }

    .border_ {
        margin-left: 0px;
    }

    .button_heslo {
        margin-left: 0px;
    }

    .meno_priezvisko {
        margin-bottom: 100px;
    }

    /*exkurzie*/

    .list_style_background {
        background-color: rgb(230, 230, 230) !important;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.08);
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .list_style_background_2 {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.08);
        display: inline-block;
        padding: 15px 250px; 
        width: auto;
    }
    
}

@media (min-width: 1025px) and (max-width: 1700px) {

    /*sidebar*/
    .bg_sidebar {
        margin: 20px;
        border-radius: 15px;
        height: calc(100vh - 40px);
    }

    /*profil ziaka*/

    .nadpis_profil {
        margin-left: 80px;
        font-size: 90px;   
        top: -60px; 
    }

    .span_profil {
        margin-left: 90px;
    }

    .line {
        margin-left: 80px;
    }

    .border_ {
        margin-left: 80px;
    }

    .button_heslo {
        margin-left: 80px;
    }
}

@media (min-width: 1700px) {

    /*sidebar*/
    .bg_sidebar {
        margin: 20px;
        border-radius: 15px;
        height: calc(100vh - 40px);
    }

     /*profil ziaka*/

    .nadpis_profil {
        margin-left: 130px;
        font-size: 130px;   
        top: -90px; 
    }

    .span_profil {
        margin-left: 140px;
    }

    .line {
        margin-left: 130px;
    }

    .border_ {
        margin-left: 130px;
    }

    .button_heslo {
        margin-left: 130px;
    }
}

/*MEDIA - MOBILY, TABLETY, PC*/
/*----------------------------------------------------------------------------------------------------------------*/