<!DOCTYPE html>
<html lang="en" class="html_body">
<head>
    <%- include("../../shared/partials/head") %>
    <link rel="stylesheet" href="/css/style-admin.css">
    <title>Domovská stránka</title>
</head>
<body class="html_body">
    <!--HEADER-->
    <%- include("../../shared/partials/header") %>
    <!--HEADER-->

    <!--BODY-->
    <div class="container">
        <div class="row" style="margin-top: 200px;">
            <div class="col-md-4">
                <div class="div_index">
                    <h1 class="text-center nadpis_index">Používatelia</h1>
                    <img src="/obrazky/admin_obrazky/pouzivatelia.jpg" alt="Používatelia">
                </div>
            </div>
            <div class="col-md-4">
                <div class="div_index">
                    <h1 class="text-center nadpis_index">Žiaci</h1>
                    <img src="/obrazky/admin_obrazky/ziaci.jpg" alt="Žiaci">
                </div>
            </div>
            <div class="col-md-4">
                <div class="div_index">
                    <h1 class="text-center nadpis_index">Učitelia</h1>
                    <img src="/obrazky/admin_obrazky/ucitelia.jpg" alt="Učitelia">
                </div>
            </div>
        </div>
    </div>
    <!--BODY-->
 
    <!--FOOTER-->

    <!--BOOSTRAP SCRIPT-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>