<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 d-flex bg_sidebar">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/ziak/domov" class="d-flex align-items-center pb-3 mb-md-0 text-white text-decoration-none">
            <img src="/obrazky/logo9.png" alt="" width="80" class="text-center img-fluid">
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                <a href="/ziak/domov" class="nav-link align-middle px-0 text_color">
                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">DOMOVSKÁ STRÁNKA</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link px-0 align-middle text_color">
                    <i class="fs-4 bi-card-checklist"></i> <span class="ms-1 d-none d-sm-inline">TESTY</span>
                </a>
            </li>
            <li>
                <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle text_color">
                    <i class="fs-4 bi-journal"></i> <span class="ms-1 d-none d-sm-inline">UČEBNÉ MATERIÁLY</span> 
                </a>
                <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                    <li class="w-100">
                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/ziak/kontakt" class="nav-link px-0 align-middle text_color">
                    <i class="fs-4 bi-person-lines-fill"></i> <span class="ms-1 d-none d-sm-inline">KONTAKT</span>
                </a>
            </li>
        </ul>
        <hr>
       
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>